/* navigation */

.menu{
    width: 100%;
    /* height: 25px; */
    margin: 10px 0px 10px 10px;
}

.menu a{
    color: grey;
}

.menu a:hover{
    color: black;
}

.menu .active{
    color: black !important;
}


